*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.navigation_bar {
    position: fixed;
    text-align: right;
    padding-right: 25%;
    width: 100%;
    height: 100px;
    background: rgb(46,93,212);
    background: linear-gradient(94deg, rgba(46,93,212,1) 0%, rgba(68,87,192,1) 50%, rgba(68,87,192,1) 100%);
    z-index: 1;
}

.navigation_bar_after_scroll {
    background-image: url(./IMG/wave-header.svg);
    transition: all .3s linear;
    background-position: 0 90%;
    background-size: cover;
    padding-bottom: 120px;
    z-index: 2;
}

nav img {
    width: 1920px;
    margin: -2px;
}

.navigation_bar button, .navigation_bar_projects button{
    height: 70px;
    width: 80px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: transparent;
    color: white;
    outline:none
}

.navigation_bar button:hover, .navigation_bar_projects button:hover{
    background-color: transparent;
}

.intro {
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
}

h1{
    
    font-size: 59px;
    font-family: 'Martel', sans-serif;
    font-weight: 900;
}

nav p{
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    color: white;
    text-transform: uppercase;
}

.discover{
    margin-top: 30px;
    height: 55px;
    width: 120px;
    font-size: 23px;
    font-family: 'Hind Siliguri', sans-serif;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

h2{
    font-size: 28px;
    font-family: 'Martel', sans-serif;
    color: #1763E9;
    text-align: center;
    line-height: 30px;
    font-weight: 900;
    margin-bottom: 8px;
    }
    
    .headline{
    text-align: center;
}

.partners{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

.partners-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partners-column{
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.partners p{
    font-size: 18px;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    color: #838383;
    margin: 0px 0px 12.5px;
}

h3{
  margin-top: 10px;  
  text-align: center;
  font-family: 'Martel', serif;
  font-size: 24px;
  font-weight: bold;
}

.social_icons{
    display: flex;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}

.social_icons i{
    display: flex;
    margin: 2px;
    border: 1px solid #838383;
    color: #838383;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;  
    transition: 0.2s;  
}

.social_icons a{
    text-decoration: none;
    color: #838383;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 15px;
}

.social_icons i:hover{
    background-color: #838383;
    color: white;

}

.contact {
    width: 50vw;
    height: 40vh;
    display: flex;    
    position: absolute;
    background-color: white;
    box-shadow: 1px 2px 10px #838383;
}

.get_in_touch img {
    position: absolute;
    width: 75vw;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.parent {
    margin-top: 50px;
    position: relative;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write_info{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 40px;
}

.our_info {
    width: 50%;
    color: #838383;
    padding: 40px 0px 0px 0px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.field{
    height: 15%;
    margin: 0px 0px 20px 0px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #ddd;
    padding: 10px;
}

input {
    border: 1px solid #ddd;
    margin-left: 10px;
}

.focus-visible {
    border-color: #1763e9;
    outline: 0;
    box-shadow: 0 0 8px #1763e9;
}

.field_big{
    height: 30%;
    font-family: 'Hind Siliguri', sans-serif;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 10px;
}

.button{
    margin-top: 20px;
    width: 145px;
    height: 51px;
    background-color: transparent;
    color: #1763E9;
    border: 1px solid #1763E9;
    transition: 0.2s;
    cursor: pointer;
}

.button:hover{
    background-color: #1763E9;
    color: white;
}


.section-aboutus {
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title {
    color: #1763E9;
    font-family: 'Martel', serif;
    font-size: 28px;
    font-weight: 900;
}

.section-title:nth-child(2) {
    line-height: 16px;
    margin-bottom: 20px;
}

.section-aboutus-text, 
.section-customers-text {
    width: 80%;
    text-align: center;
    font-size: 18px;
    color: #838383;
    font-weight: 300;
    font-family: 'Hind Siliguri', sans-serif;
}

.section-aboutus-content-carousel {
    margin-top: 100px;
    position: relative;
    width: 1100px;
    height: 600px;
    transition: all 0.3s;
}

.section-aboutus-content-carousel-photo img {
    max-width: 800px;
    position: absolute;
}

.section-aboutus-content-carousel-secondphoto img {
    max-width: 800px;
    position: absolute;
    transition: all 0.5s;
}

.section-aboutus-content-frame {
    width: 700px;
    background-color: white;
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
    padding: 60px 40px;
    box-shadow: 0px 0px 20px 3px rgb(180, 180, 180);

}

.section-aboutus-content-frame-header-title {
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Martel', serif;
    font-weight: 800;
}

.section-aboutus-content-frame-header {
    display: flex;
    justify-content: space-between;
}

.section-aboutus-content-frame-text {
    color: #838383;
    font-size: 18px;
    font-weight: 300;
}

.section-aboutus-content-frame-header-arrows {
    display: flex;
    gap: 20px;
}

.section-aboutus-content-frame-header-arrows-leftarrow, 
.section-aboutus-content-frame-header-arrows-rightarrow {
    cursor: pointer;
    transition: all .3s;
}

.section-aboutus-content-frame-header-arrows-leftarrow:hover, 
.section-aboutus-content-frame-header-arrows-rightarrow:hover {
    color: #1763E9;
}

/* customers */

.section-customers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

/* footer */
.footer {
    position: relative;
}

.logos {
    display: grid;
    width: 100%;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    padding: 50px 0px 50px 0px;
    gap: 80px;
}

.logo {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    transition: all 0.3s;
    margin-bottom: 60px;
    height: 47px;
}

.logo:hover {
    opacity: 1;
}

.footer img {
    width: 1910px;
}

.footer-text {
    position: absolute;
    top: 90px;
    left: 200px;
    color: white;
    font-family: 'Martel', serif;
    font-weight: 900;
    font-size: 25px;
}

.footer-icons {
    position: absolute;
    top: 90px;
    right: 200px;
    display: flex;
    gap: 5px;
}

.section-social-columns-column {
    border-radius: 60px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.section-social-columns-column i {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-social-columns-column:hover {
    background-color: white;
    cursor: pointer;
}

.section-social-columns-column:hover i {
    color: #1763E9;
}

/* ----------------PROJECTS ---------------- */

/* NAV */

.navigation_bar_projects{
    background-image: url(./IMG/wave-header.svg);
    text-align: right;
    padding-right: 25%;
    background-position: 0 90%;
    background-size: cover;
    padding-bottom: 40px;
    
}    

/* MORE */

.more{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: 50% 50%;
    margin-bottom: 350px;
}

.row_1{
   grid-column-start: 2;
   height: 80px;
}
.row_2{
    grid-row-start: 2;
    grid-column-start: 2;
}

.more img{
    width: 750px;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.more span{
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    color: #838383;
    font-weight: 300;
}

/* ENDING */

.ending{
    text-align: center;
    font-family: 'Martel', snas-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 110px;
}

@media  (max-width: 800px){
.container {
    width: 98%;
}

  
.more{
    margin-top: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80%;
    margin-bottom: 50px;
    padding-left: 2%;
}

.row_1{
    grid-column-start:2;
    grid-row-start: 1;
    width: 98%;
    height: auto;
    margin-bottom: 20px;
}

.row_2{
    grid-column-start:2;
    grid-row-start: 2;
    width: 98%;
}

.more img{
    width: 100%;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

.footer img {
    height: 20vh;
    object-fit: cover;
}

.footer-text {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    font-family: 'Martel', serif;
    font-weight: 900;
    font-size: 25px;
}

.footer-icons {
    position: absolute;
    top: 42%;
    right: 15%;
    display: flex;
    gap: 5px;
}
    
}

@media  (max-width: 400px){
 .footer-text{
    left: 5%;
 }

 .footer-icons {
    top: 60%; 
    right: 5%;
}

}

@media (max-width: 1200px) {
    .section-aboutus-content-carousel {
        width: 80vw;
        margin-top: 30px;
        height: 800px;
    }

    .section-aboutus-content-carousel-secondphoto,
    .section-aboutus-content-carousel-photo,
    .section-aboutus-content-carousel-secondphoto img,
    .section-aboutus-content-carousel-photo img {
        width: 100%;
        max-width: unset;
    }

    .section-aboutus-content-frame {
        width: 100%;
    }

    .logos {
        grid-template-columns: 1.2fr 1.2fr 1.2fr;
        gap: 20px;
    }

    .logo {
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    .section-aboutus-content-carousel {
        width: 80vw;
        margin-top: 30px;
        height: 700px;
    }

    .partners .headline {
        margin: 0px 40px;
    }

    .logos {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contact {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .get_in_touch {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 30px;
    }

    .get_in_touch p {
        width: 80%;
    }

    .parent {
        height: 80vh;
        overflow: hidden;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 50px 0px;
    }

    .parent img {
        bottom: 0px;
        top: unset;
        width: 1000px;
    }

    .our_info {
        width: 60%;
        text-align: center;
        padding: 20px 0px 40px 0px;
    }

    .write_info {
        align-items: center;
        width: 80%;
    }

    .field, .field_big {
        width: 100%;
    }

    .get_in_touch .parent {
        width: 100%;
        height: 65vh;
    }

    .contact {
        width: 75vw;
    }

    .our_info {
        width: 80vw;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-text {
        top: 50px;
        left: 50%;
        transform: translate(-50%);
    }

    .footer-icons {
        left: 50%;
        transform: translate(-50%);
        justify-content: center;
        top: 120px;
        right: unset;
    }
}

@media (max-width: 610px) {
    .section-aboutus-content-frame {
        box-shadow: unset;
        padding: 0px 10px;
        margin-top: 40px;
    }

    .section-aboutus-content-carousel {
        width: 80vw;
        margin-top: 50px;
        height: 600px;
    }

    .intro h1 {
        font-size: 48px;
    }

    .get_in_touch .parent {
        width: 100%;
        height: 65vh;
    }

    .contact {
        width: 75vw;
    }

    .our_info {
        width: 80vw;
    }
}

