*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
        
}

.navigation_bar{
    position: fixed;
    width: 100%;
    height: 90px;
    text-align: right;
    padding-right: 25%;
    background: rgb(46,93,212);
    background: linear-gradient(94deg, rgba(46,93,212,1) 0%, rgba(68,87,192,1) 50%, rgba(68,87,192,1) 100%);
    z-index: 1001;
    top: 0px;
}

nav img{
    width: 100%;
}

.navigation_bar button{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 300;
}

.section-moon {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-title {
    color: #1763E9;
    font-family: 'Martel', serif;
    font-size: 66px;
    font-weight: 900;
}

.section-moon-text {
    color: #838383;
    margin: 20px 0px;
    width: 750px;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.section-moon-photos {
    width: 750px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.section-moon-photos img {
    cursor: pointer;
}

.img-container {
    overflow: hidden;
}

.xd {
    width: 750px;
    transition: all 0.3s ease-in-out;
}

.xd:hover {
    width: 750px;
    overflow: hidden;
    transform: scale(1.1);
}

.xd2, .xd3 {
    width: 360px;
}

/* MODAL */

.modal {
    background-color: rgba(0, 0, 0, 0.63);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-out;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.full-img {
    width: 50%;
}

.modal-open {
    opacity: 100;
    pointer-events: all;
    
}