<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="projects.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&family=Martel:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <div class="navigation_bar">
            <button onclick="location.href='http://127.0.0.1:5500/Pawel-Rafal---second-project/index.html'" type="button">Home</button>
            <button onclick="location.href='https://google.pl'" type="button">Project</button>
        </div>
    </nav>
    
    <!-- Moon -->
    <div class="section-moon">
        <div class="section-title">Moon</div>
        <div class="section-moon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus at sem quis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</div>
        <div class="section-moon-photos">
            <div class="img-container">
                <img
                    class="xd" 
                    src="../IMG/img-06.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-06.jpg"
                />
            </div>
            <div class="img-container">
                <img 
                    class="xd2" 
                    src="../IMG/img-04.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-04.jpg"
                />
            </div>
            <div class="img-container">
                <img 
                    class="xd3" 
                    src="../IMG/img-07.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-07.jpg"
                />
            </div>
        </div>
    </div>
    <!-- End of moon -->
    <div class="modal">
        <img src="../IMG/img-06.jpg" alt="" class="full-img">
    </div>
    <script src="projects.js"></script>
</body>
</html>