<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="projects.css">
    <link rel="stylesheet" href="../style.css">
    <script src="https://kit.fontawesome.com/da579de088.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&family=Martel:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="navigation_bar_projects">
            <a href="http://127.0.0.1:5500/index.html"><button>Home</button></a>
            <a href="http://127.0.0.1:5500/VIEWS/projects.html"><button>Projects</button></a>
        </div>
    </nav>
    <!-- Moon -->
    <div class="section-moon">
        <div class="section-title">Moon</div>
        <div class="section-moon-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus at sem quis varius. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus iaculis magna sagittis elit sagittis, at hendrerit lorem venenatis. Morbi accumsan iaculis blandit. Cras ultrices hendrerit nisl.</div>
        <div class="section-moon-photos">
            <div class="img-container">
                <img
                    class="xd" 
                    src="../IMG/img-06.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-06.jpg"
                />
            </div>
            <div class="img-container">
                <img 
                    class="xd2" 
                    src="../IMG/img-04.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-04.jpg"
                />
            </div>
            <div class="img-container">
                <img 
                    class="xd3" 
                    src="../IMG/img-07.jpg" 
                    alt="xd" 
                    data-original="../IMG/img-07.jpg"
                />
            </div>
        </div>
    </div>
    <!-- End of moon -->

    <div class="container">
        
        <div class="more">
            <div class="row_1">
                <h2>More<br>...</h2>
                <span>Praesent at feugiat est, at faucibus ipsum. Aenean condimentum mauris vel malesuada pulvinar. Vestibulum sit amet hendrerit leo, quis vehicula mi. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
            </div>
            <div class="row_2">
                <img src="../IMG/img-05.jpg" alt="working on project" data-original="../IMG/img-05.jpg">
            </div>
        </div>
        
        <div class="ending">
            <span>Do you like it?</span>
            <div class="social_icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>      
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>          
            </div>
        </div>

        <div class="footer1">
            <div class="name">
                <span>Mountain</span>
                <p>Website created with <a href="http://www.mashup-template.com/"target="_blank">Mashup Template</a>/<a href="https://unsplash.com/" target="_blank">Unplash</a></p>
            </div>
            <div class="social_icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="footer_box">
                <img src="../IMG/wave-footer.svg" alt="wave footer">
            </div>
        </div>
    </div>
    <div class="modal">
        <img src="../IMG/img-06.jpg" alt="" class="full-img">
    </div>
    <script src="projects.js"></script>
</body>
</html>